In [1]:
from pymongo import MongoClient
mongo = MongoClient(port=27017)

In [2]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [3]:
my_first_db = mongo['my_db']

In [4]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [5]:
my_first_collection = my_first_db['my_collection']
my_first_db.list_collection_names()

[]

In [6]:
my_first_collection.insert_one({'name': 'Mickey'})

In [7]:
print(mongo.list_database_names())
print(my_first_db.list_collection_names())

['admin', 'config', 'local', 'my_db']
['my_collection']

In [8]:
my_first_collection.insert_one({'name': 'Minnie','age': 90})

In [9]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('63a0fa9f5af931e4e3f2a11e'), 'name': 'Mickey'}
{'_id': ObjectId('63a0faa25af931e4e3f2a11f'), 'name': 'Minnie', 'age': 90}

In [10]:
goofy = {'_id':3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
my_first_collection.insert_one(goofy)

results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('63a0fa9f5af931e4e3f2a11e'), 'name': 'Mickey'}
{'_id': ObjectId('63a0faa25af931e4e3f2a11f'), 'name': 'Minnie', 'age': 90}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}

In [11]:
query = {'name': 'Donald'}
results = my_first_collection.find(query)
for result in results:
    print(result)

In [12]:
query = {'age': {'$gt':85}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': ObjectId('63a0faa25af931e4e3f2a11f'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [13]:
query = {'age': {'$gt':88}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': ObjectId('63a0faa25af931e4e3f2a11f'), 'name': 'Minnie', 'age': 90}]

In [14]:
query = {'age': {'$lt':88}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [15]:
query = {'name': 'Mickey'}
update = {'$set': {'name': 'Mickey Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('63a0fa9f5af931e4e3f2a11e'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('63a0faa25af931e4e3f2a11f'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [16]:
query = {'name': 'Minnie'}
update = {'$set': {'name': 'Minnie Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('63a0fa9f5af931e4e3f2a11e'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('63a0faa25af931e4e3f2a11f'),
  'name': 'Minnie Mouse',
  'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [17]:
query = {'name': 'Mickey Mouse'}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('63a0faa25af931e4e3f2a11f'),
  'name': 'Minnie Mouse',
  'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [18]:
query = {'age': {'$gt':88}}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [19]:
query = {'_id': 3}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[]

In [20]:
query = {'species': 'duck'}
my_first_collection.delete_many(query)
[r for r in my_first_collection.find()]

[]

In [21]:
my_first_db.drop_collection('my_collection')

{'nIndexesWas': 1, 'ns': 'my_db.my_collection', 'ok': 1.0}

In [22]:
my_first_db.list_collection_names()

[]

In [23]:
mongo.drop_database('my_db')

In [24]:
mongo.list_database_names()

['admin', 'config', 'local']